%h1 Willkommen auf yoshimoto.me

%div#welcome_img
  = image_tag "me.jpg"

%div#welcome_text
  %p.justy
    Die von Ihnen aufgesuchte Webseite ist eine kleine Sammlung von Informationen. Sie sind herzlich eingeladen sich diese Inhalte anzuschauen, wenn ich sie denn publik mache.
  %P.justy
    Für Werbetreibende: Ich hatte nicht vor, hier Werbung zu schalten ;-) .
  %p.justy
    Sollte ich externe Inhalte zur Schau stellen, hoffe ich ausreichend darauf aufmerksam zu machen und Ihre Erzeuger zu nennen und nicht zu beleidigen.
  %p.justy
    Allen damit viel Spaß beim Umschauen.
%div.clear
