%div.footer
  %p
    %h4
      Disclaimer:
  %p.justy
    Alle hier dargestellten Informationen dienen der privaten Gedächtnisstütze und nicht kommerziellen Zwecken.

%div.footer
  %p
    %h4
      Kontakt:
  %p.mail
    info@yoshimoto.me

%div.footer.end
  %p
    -# &copy; 2012 by
    created 2012 by
    %br
    = image_tag "ay_logo.png", class: :logo
