%ul
  %li.last
    - if session["warden.user.admin_user.key"] && AdminUser.find(session["warden.user.admin_user.key"][1])
      = link_to "Backend", admin_root_path
    - else
      = link_to "Login", new_admin_user_session_path
